<cfcomponent>
    <cffunction name="GetCustomerList" access="public" returntype="any">
    	<cfargument name="User_UID" type="string" required="yes">
        <cfargument name="PageNumber" type="string" required="yes">
        <cfargument name="ItemsPerPage" type="string" required="yes">
		<cfargument name="Cust_Number" type="string" required="no" default="">
        <cfargument name="Cust_Name" type="string" required="no" default="">
        <cfargument name="Cust_City" type="string" required="no" default="">
        <cfargument name="Cust_State" type="string" required="no" default="">
        <cfargument name="Cust_PostCode" type="string" required="no" default="">
        <cfargument name="Cust_SO" type="string" required="no" default="">
        <cfargument name="Cust_INV" type="string" required="no" default="">
		<cfargument name="Cust_SN" type="string" required="no" default="">
        <cfargument name="Cust_Email" type="string" required="no" default="">
        
        <cfquery name="qry_verifyUser" datasource="#APPLICATION.Datasource#" maxrows="1">
        	SELECT TOP 1 [User_FirstName]
            FROM [ServicePortal].[tbl_Users]
            WHERE [User_UID] = <cfqueryparam cfsqltype="cf_sql_varchar" value="#Arguments.User_UID#">
        </cfquery>

		<cfif qry_verifyUser.RecordCount NEQ 0>
			<cfscript>
                QUERY = StructNew();
                QUERY.QueryName = "qry_getCustomers";
                if(Len(Cust_Number) NEQ 0){
                    QUERY.CUSTOMERID = Cust_Number;
                }
                if(Len(Cust_Name) NEQ 0){
                    QUERY.CUSTOMERNAME = Cust_Name;
                }
                if(Len(Cust_City) NEQ 0){
                    QUERY.ADDRESSCITY = Cust_City;
                }
                if(Len(Cust_State) NEQ 0){
                    QUERY.ADDRESSSTATE = Cust_State;
                }
                if(Len(Cust_PostCode) NEQ 0){
                    QUERY.ADDRESSZIPCODE = Cust_PostCode;
                }
                if(Len(Cust_SO) NEQ 0){
                    QUERY.SALESORDERNUMBER = Cust_SO;
                }
                if(Len(Cust_INV) NEQ 0){
                    QUERY.INVOICENUMBER = Cust_INV;
                }
                if(Len(Cust_SN) NEQ 0){
                    QUERY.STORENUMBER = Cust_SN;
                }
                if(Len(Cust_Email) NEQ 0){
                    QUERY.CONTACTEMAIL = Cust_Email;
                }
				QUERY.PageNumber = PageNumber;
				QUERY.ItemsPerPage = ItemsPerPage;
                QUERY.SelectSQL = "DISTINCT cust.[CUSTOMERID],cust.[DATAAREAID],cust.[CUSTOMERNAME],cust.[ADDRESSCITY],cust.[ADDRESSSTATE],cust.[ADDRESSCOUNTRY],cust.[ADDRESSZIPCODE],cust.[ADDRESS],cust.[ADDRESSNAME],cust.[CONTACTNAME],cust.[CONTACTPHONE],cust.[CONTACTPHONEEXTENSION]";
                QUERY.OrderBy = "cust.[CUSTOMERID],cust.[DATAAREAID],cust.[CUSTOMERNAME],cust.[ADDRESSCITY],cust.[ADDRESSSTATE],cust.[ADDRESSCOUNTRY],cust.[ADDRESSZIPCODE],cust.[ADDRESS],cust.[ADDRESSNAME],cust.[CONTACTNAME],cust.[CONTACTPHONE],cust.[CONTACTPHONEEXTENSION]";
            </cfscript>
            <cfinclude template="../_qry_select_customers.cfm">

			<cfset myResult = SerializeJSON(qry_getCustomers,true)>
        <cfelse>
        	<cfset myResult = "">
        	<cflocation url="./?pg=Logout" addtoken="no">
            <cfabort>
        </cfif>
		<cfreturn myResult>
	</cffunction>
    
    <cffunction name="GetCustomerCount" access="public" returntype="any">
    	<cfargument name="User_UID" type="string" required="yes">
    	<cfargument name="Cust_Number" type="string" required="no" default="">
        <cfargument name="Cust_Name" type="string" required="no" default="">
        <cfargument name="Cust_City" type="string" required="no" default="">
        <cfargument name="Cust_State" type="string" required="no" default="">
        <cfargument name="Cust_PostCode" type="string" required="no" default="">
        <cfargument name="Cust_SO" type="string" required="no" default="">
        <cfargument name="Cust_INV" type="string" required="no" default="">
		<cfargument name="Cust_SN" type="string" required="no" default="">
        <cfargument name="Cust_Email" type="string" required="no" default="">
        
        <cfquery name="qry_verifyUserCount" datasource="#APPLICATION.Datasource#" maxrows="1">
        	SELECT TOP 1 [User_FirstName]
            FROM [ServicePortal].[tbl_Users]
            WHERE [User_UID] = <cfqueryparam cfsqltype="cf_sql_varchar" value="#Arguments.User_UID#">
        </cfquery>

		<cfif qry_verifyUserCount.RecordCount NEQ 0>
			<cfscript>
                QUERY = StructNew();
                QUERY.QueryName = "qry_GetCustomerCount";
                if(Len(Cust_Number) NEQ 0){
                    QUERY.CUSTOMERID = Cust_Number;
                }
                if(Len(Cust_Name) NEQ 0){
                    QUERY.CUSTOMERNAME = Cust_Name;
                }
                if(Len(Cust_City) NEQ 0){
                    QUERY.ADDRESSCITY = Cust_City;
                }
                if(Len(Cust_State) NEQ 0){
                    QUERY.ADDRESSSTATE = Cust_State;
                }
                if(Len(Cust_PostCode) NEQ 0){
                    QUERY.ADDRESSZIPCODE = Cust_PostCode;
                }
                if(Len(Cust_SO) NEQ 0){
                    QUERY.SALESORDERNUMBER = Cust_SO;
                }
                if(Len(Cust_INV) NEQ 0){
                    QUERY.INVOICENUMBER = Cust_INV;
                }
                if(Len(Cust_SN) NEQ 0){
                    QUERY.STORENUMBER = Cust_SN;
                }
                if(Len(Cust_Email) NEQ 0){
                    QUERY.CONTACTEMAIL = Cust_Email;
                }
                QUERY.SelectSQL = "COUNT(cust.[CUSTOMERID]) AS ITEMCOUNT";
            </cfscript>
            <cfinclude template="../_qry_select_customers_count.cfm">
        <cfelse>
        	<cflocation url="./?pg=Logout" addtoken="no">
            <cfabort>
        </cfif>
        
        <cfreturn qry_GetCustomerCount.ITEMCOUNT>
    </cffunction>
</cfcomponent>