<cfcomponent>
    <cffunction name="GetOrdersList" access="public" returntype="any">
    	<cfargument name="User_UID" type="string" required="yes">
        <cfargument name="PageNumber" type="string" required="yes">
        <cfargument name="ItemsPerPage" type="string" required="yes">
		<cfargument name="SO_Number" type="string" required="no" default="">
        <cfargument name="PO_Number" type="string" required="no" default="">
        <cfargument name="Date_From" type="string" required="no" default="">
        <cfargument name="INV_Number" type="string" required="no" default="">
        <cfargument name="Part_Number" type="string" required="no" default="">
        <cfargument name="Date_To" type="string" required="no" default="">
        <cfargument name="INV_Company" type="string" required="no" default="">
        <cfargument name="Cust_Number" type="string" required="no" default="">
        
        <cfscript>
			CustList = CreateObject("component", "_cfcs.UserInfo");
			Cust_ID = CustList.getUserCustID(User_EmailAddress=SESSION.User_EmailAddress);
		</cfscript>
        
        <cfquery name="qry_verifyUser" datasource="#APPLICATION.Datasource#" maxrows="1">
        	SELECT TOP 1 [User_FirstName]
            FROM [ServicePortal].[tbl_Users]
            WHERE [User_UID] = <cfqueryparam cfsqltype="cf_sql_varchar" value="#Arguments.User_UID#">
        </cfquery>

		<cfif qry_verifyUser.RecordCount NEQ 0>
			<cfscript>
                QUERY = StructNew();
                QUERY.QueryName = "qry_getOrdersList";
                if(SESSION.User_IsAdmin) {
                    if(Len(Cust_Number) NEQ 0){
                        QUERY.CUSTOMERID = Cust_Number;
                    }
                } else {
                    QUERY.CUSTOMERID = Cust_ID;
                }
                if(Len(SO_Number) NEQ 0){
                    QUERY.SALESORDERNUMBER = SO_Number;
                }
                if(Len(PO_Number) NEQ 0){
                    QUERY.PURCHASEORDERNUMBER = PO_Number;
                }
                if(Len(INV_Number) NEQ 0){
                    QUERY.INVOICENUMBER = INV_Number;
                }
                if(Len(Part_Number) NEQ 0){
                    QUERY.PARTNUMBER = Part_Number;
                }
                if(Len(Date_From) NEQ 0){
                    QUERY.SALESORDERDATEFROM = DateFormat(Date_From, "yyyy-mm-dd") & " 00:00:00";
                }
                if(Len(Date_To) NEQ 0){
                    QUERY.SALESORDERDATETO = DateFormat(Date_To, "yyyy-mm-dd") & " 23:59:59";
                }
                if(Len(INV_Company) NEQ 0){
                    QUERY.DATAAREAID = INV_Company;
                }
				QUERY.PageNumber = PageNumber;
				QUERY.ItemsPerPage = ItemsPerPage;
                QUERY.SelectSQL = "DISTINCT sorl.[SALESORDERNUMBER],sorl.[PURCHASEORDERNUMBER],sorl.[CUSTOMERID],sorl.[SHIPPINGDATEREQUESTED],sorl.[RECEIPTDATEREQUESTED],sorl.[BILLTOCUSTOMERID],sorl.[SALESSTATUS],sorl.[SALESORDERDATE],sorl.[DATAAREAID],sorl.[PARTITION],sorl.[RECID],ISNULL(hold.[MCRHOLDCODEDESCRIPTION],'') AS MCRHOLDCODEDESCRIPTION";
                QUERY.OrderBy = "sorl.[SALESORDERNUMBER],sorl.[PURCHASEORDERNUMBER],sorl.[CUSTOMERID],sorl.[SHIPPINGDATEREQUESTED],sorl.[RECEIPTDATEREQUESTED],sorl.[BILLTOCUSTOMERID],sorl.[SALESSTATUS],sorl.[SALESORDERDATE],sorl.[DATAAREAID],sorl.[PARTITION],sorl.[RECID]";
            </cfscript>
            <cfinclude template="../_qry_select_orders.cfm">
    
            <cfset myResult = SerializeJSON(qry_getOrdersList,true)>
        <cfelse>
        	<cfset myResult = "">
        	<cflocation url="./?pg=Logout" addtoken="no">
            <cfabort>
        </cfif>
		<cfreturn myResult>
	</cffunction>

    <cffunction name="GetOrdersCount" access="public" returntype="any">
    	<cfargument name="User_UID" type="string" required="yes">
		<cfargument name="SO_Number" type="string" required="no" default="">
        <cfargument name="PO_Number" type="string" required="no" default="">
        <cfargument name="Date_From" type="string" required="no" default="">
        <cfargument name="INV_Number" type="string" required="no" default="">
        <cfargument name="Part_Number" type="string" required="no" default="">
        <cfargument name="Date_To" type="string" required="no" default="">
        <cfargument name="INV_Company" type="string" required="no" default="">
        <cfargument name="Cust_Number" type="string" required="no" default="">
        
        <cfscript>
			CustList = CreateObject("component", "_cfcs.UserInfo");
			Cust_ID = CustList.getUserCustID(User_EmailAddress=SESSION.User_EmailAddress);
		</cfscript>
        
        <cfquery name="qry_verifyUser" datasource="#APPLICATION.Datasource#" maxrows="1">
        	SELECT TOP 1 [User_FirstName]
            FROM [ServicePortal].[tbl_Users]
            WHERE [User_UID] = <cfqueryparam cfsqltype="cf_sql_varchar" value="#Arguments.User_UID#">
        </cfquery>

		<cfif qry_verifyUser.RecordCount NEQ 0>
			<cfscript>
                QUERY = StructNew();
                QUERY.QueryName = "qry_getOrdersCount";
                if(SESSION.User_IsAdmin) {
                    if(Len(Cust_Number) NEQ 0){
                        QUERY.CUSTOMERID = Cust_Number;
                    }
                } else {
                    QUERY.CUSTOMERID = Cust_ID;
                }
                if(Len(SO_Number) NEQ 0){
                    QUERY.SALESORDERNUMBER = SO_Number;
                }
                if(Len(PO_Number) NEQ 0){
                    QUERY.PURCHASEORDERNUMBER = PO_Number;
                }
                if(Len(INV_Number) NEQ 0){
                    QUERY.INVOICENUMBER = INV_Number;
                }
                if(Len(Part_Number) NEQ 0){
                    QUERY.PARTNUMBER = Part_Number;
                }
                if(Len(Date_From) NEQ 0){
                    QUERY.SALESORDERDATEFROM = DateFormat(Date_From, "yyyy-mm-dd") & " 00:00:00";
                }
                if(Len(Date_To) NEQ 0){
                    QUERY.SALESORDERDATETO = DateFormat(Date_To, "yyyy-mm-dd") & " 23:59:59";
                }
                if(Len(INV_Company) NEQ 0){
                    QUERY.DATAAREAID = INV_Company;
                }
                QUERY.SelectSQL = "COUNT(sorl.[SALESORDERNUMBER]) AS ITEMCOUNT";
            </cfscript>
            <cfinclude template="../_qry_select_orders_count.cfm">
    
            <cfset myResult = qry_getOrdersCount.ITEMCOUNT>
        <cfelse>
        	<cfset myResult = "">
        	<cflocation url="./?pg=Logout" addtoken="no">
            <cfabort>
        </cfif>
		<cfreturn myResult>
	</cffunction>
    
    <cffunction name="getInvoices" access="public" returntype="any">
    	<cfargument name="User_UID" type="string" required="yes">
    	<cfargument name="Cust_Number" type="string" required="no" default="">
        <cfargument name="SO_Number" type="string" required="no" default="">
        <cfargument name="INV_Number" type="string" required="no" default="">
        <cfargument name="INV_Date_From" type="string" required="no" default="">
        <cfargument name="INV_Date_To" type="string" required="no" default="">
        <cfargument name="INV_Company" type="string" required="no" default="">
        
        <cfscript>
			CustList = CreateObject("component", "_cfcs.UserInfo");
			Cust_ID = CustList.getUserCustID(User_EmailAddress=SESSION.User_EmailAddress);
		</cfscript>
        
        <cfquery name="qry_verifyUser" datasource="#APPLICATION.Datasource#" maxrows="1">
        	SELECT TOP 1 [User_FirstName]
            FROM [ServicePortal].[tbl_Users]
            WHERE [User_UID] = <cfqueryparam cfsqltype="cf_sql_varchar" value="#Arguments.User_UID#">
        </cfquery>
        
        <cfif qry_verifyUser.RecordCount NEQ 0>
			<cfscript>
                QUERY = StructNew();
                QUERY.QueryName = "qry_getInvoices";
                if(SESSION.User_IsAdmin) {
                    if(Len(Cust_Number) NEQ 0){
                        QUERY.CUSTOMERID = Cust_Number;
                    }
                } else {
                    QUERY.CUSTOMERID = Cust_ID;
                }
                if(Len(SO_Number) NEQ 0){
                    QUERY.SALESORDERNUMBER = SO_Number;
                }
                if(Len(INV_Number) NEQ 0){
                    QUERY.INVOICENUMBER = INV_Number;
                }
                if(Len(INV_Date_From) NEQ 0){
                    QUERY.INVOICEDATEFROM = DateFormat(INV_Date_From, "yyyy-mm-dd") & " 00:00:00";
                }
                if(Len(INV_Date_To) NEQ 0){
                    QUERY.INVOICEDATETO = DateFormat(INV_Date_To, "yyyy-mm-dd") & " 23:59:59";
                }
                if(Len(INV_State) NEQ 0){
                    QUERY.INVOICEBALANCE = INV_State;
                }
                if(Len(INV_Company) NEQ 0){
                    QUERY.DATAAREAID = INV_Company;
                }
                
                //QUERY.SelectSQL = "[INVOICENUMBER],[INVOICEDATE],[INVOICEDUEDATE],[INVOICECURRENCY],[INVOICEAMOUNT],[INVOICEEXCHANGEADJUSTMENT],[INVOICEPAYMENTS],[DATAAREAID],[PARTITION],[RECID],[CUSTOMERID],[SALESORDERNUMBER],[SALESBALANCE],[SALESDISCOUNTS],[SALESFREIGHT],[SALESTAXES],[CUSTOMERNAME],[INVOICEBALANCE],[SALESSHIPDATECONFIRMED],[SALESSHIPDATEREQUESTED],[SALESORDERPONUMBER]";
                //QUERY.SortBy = "[INVOICENUMBER],[INVOICEDATE],[INVOICEDUEDATE],[INVOICECURRENCY],[INVOICEAMOUNT],[INVOICEEXCHANGEADJUSTMENT],[INVOICEPAYMENTS],[DATAAREAID],[PARTITION],[RECID],[CUSTOMERID],[SALESORDERNUMBER],[SALESBALANCE],[SALESDISCOUNTS],[SALESFREIGHT],[SALESTAXES],[CUSTOMERNAME],[INVOICEBALANCE],[SALESSHIPDATECONFIRMED],[SALESSHIPDATEREQUESTED],[SALESORDERPONUMBER]";
            
                QUERY.SelectSQL = "DISTINCT sinv.[INVOICENUMBER],sinv.[INVOICEDATE],sinv.[INVOICEDUEDATE],sinv.[SALESORDERPONUMBER],sinv.[INVOICEBALANCE],sinv.[CUSTOMERID],sinv.[DATAAREAID]";
                QUERY.OrderBy = "sinv.[INVOICENUMBER],sinv.[INVOICEDATE],sinv.[INVOICEDUEDATE],sinv.[SALESORDERPONUMBER],sinv.[INVOICEBALANCE],sinv.[CUSTOMERID],sinv.[DATAAREAID]";
            </cfscript>
            <cfinclude template="../_qry_select_invoices.cfm">
    
            <cfset myResult = SerializeJSON(qry_getInvoices,true)>
        <cfelse>
        	<cfset myResult = "">
        	<cflocation url="./?pg=Logout" addtoken="no">
            <cfabort>
        </cfif>
		<cfreturn myResult>
	</cffunction>
    
    <cffunction name="getInvoicePayments" access="public" returntype="any">
    	<cfargument name="Cust_Number" type="string" required="no" default="">
        <cfargument name="SO_Number" type="string" required="no" default="">
        <cfargument name="INV_Number" type="string" required="no" default="">
        <cfargument name="INV_Date_From" type="string" required="no" default="">
        <cfargument name="INV_Date_To" type="string" required="no" default="">
        <cfargument name="INV_Company" type="string" required="no" default="">
        
        <cfscript>
			CustList = CreateObject("component", "_cfcs.UserInfo");
			Cust_ID = CustList.getUserCustID(User_EmailAddress=SESSION.User_EmailAddress);
		</cfscript>
        
        <cfscript>
			QUERY = StructNew();
			QUERY.QueryName = "qry_getInvoices";
			if(SESSION.User_IsAdmin) {
				if(Len(Cust_Number) NEQ 0){
					QUERY.CUSTOMERID = Cust_Number;
				}
			} else {
				QUERY.CUSTOMERID = Cust_ID;
			}
			if(Len(SO_Number) NEQ 0){
				QUERY.SALESORDERNUMBER = SO_Number;
			}
			if(Len(INV_Number) NEQ 0){
				QUERY.INVOICENUMBER = INV_Number;
			}
			if(Len(INV_Date_From) NEQ 0){
				QUERY.INVOICEDATEFROM = DateFormat(INV_Date_From, "yyyy-mm-dd") & " 00:00:00";
			}
			if(Len(INV_Date_To) NEQ 0){
				QUERY.INVOICEDATETO = DateFormat(INV_Date_To, "yyyy-mm-dd") & " 23:59:59";
			}
			if(Len(INV_Company) NEQ 0){
				QUERY.DATAAREAID = INV_Company;
			}
		
        	QUERY.SelectSQL = "DISTINCT ipay.[INVOICENUMBER],ipay.[CREATEDBYUSER],ipay.[DATEOFSETTLEMENT],ipay.[SETTLEAMOUNTMST],sinv.[INVOICEBALANCE]";
			QUERY.OrderBy = "ipay.[DATEOFSETTLEMENT],ipay.[CREATEDBYUSER],ipay.[SETTLEAMOUNTMST],sinv.[INVOICEBALANCE],ipay.[INVOICENUMBER]";
        </cfscript>
		<cfinclude template="../_qry_select_invoices.cfm">

		<cfset myResult = SerializeJSON(qry_getInvoices,true)>
		<cfreturn myResult>
	</cffunction>
    
    <cffunction name="sendEmailReceipt" access="public" returntype="any">
        <cfargument name="Email_To" type="any" required="yes">
        <cfargument name="Payment_Numbers" type="any" required="yes">
        <cfargument name="Payment_Amounts" type="any" required="yes">
        <cfargument name="Payment_Type" type="string" required="yes">
        <cfargument name="Payment_Company" type="string" required="yes">
        <cfargument name="Payment_Confirmation" type="string" required="yes">
        <cfargument name="Card_Number" type="string" required="yes">
        <cfargument name="Card_Type" type="string" required="yes">
        
        <!---<cfmail from="no-reply@hme.com" to="chrisg@hme.com" subject="Customer Service Portal: Test" type="html">
        	ET: #Email_To# <br />
            PN: #Payment_Numbers# <br />
            PA: #Payment_Amounts# <br />
            PT: #Payment_Type# <br />
            PC: #Payment_Company# <br />
            CO: #Payment_Confirmation# <br />
            CM: #Card_Number# <br />
            CT: #Card_Type#
        </cfmail>--->
        
        <cfswitch expression="#Payment_Company#">
        	<cfcase value="hsc">
            	<cfscript>
					Payment_Company_Label = "HME";
					Payment_Email = APPLICATION.HME_Email;
				</cfscript>
            </cfcase>
        	<cfcase value="cel">
            	<cfscript>
					Payment_Company_Label = "CE Repairs";
					Payment_Email = APPLICATION.CE_Email;
				</cfscript>
            </cfcase>
            <cfcase value="jtch">
            	<cfscript>
					Payment_Company_Label = "JTECH";
					Payment_Email = APPLICATION.JTECH_Email;
				</cfscript>
            </cfcase>
            <cfcase value="clrc">
            	<cfscript>
					Payment_Company_Label = "Clear-Com";
					Payment_Email = APPLICATION.CC_Email;
				</cfscript>
            </cfcase>
            <cfdefaultcase>
            	<cfscript>
					Payment_Company_Label = "HME";
					Payment_Email = APPLICATION.HME_Email;
				</cfscript>
            </cfdefaultcase>
        </cfswitch>
        
        <cfset Payment_Numbers_Array = deserializeJSON(Payment_Numbers)>
        <cfset Payment_Amounts_Array = deserializeJSON(Payment_Amounts)>
        <cfset fullAmountOrg = ArraySum(Payment_Amounts_Array)>
        
        <!--- Send Email to Customer & HME Admins --->
        <cfmail from="no-reply@hme.com" to="#Email_To#" bcc="Web_Support@hme.com,#Payment_Email#" subject="Customer Service Portal: #Payment_Company_Label# Payment Receipt" type="html">

            <p>
                HM Electronics, inc<br />
                14110 Stowe Dr<br />
                Poway, CA 92064<br />
                8585356000<br />
            </p>
            
            <p style="margin-bottom:10px;padding-bottom:0px;"><strong>Credit Card Receipt</strong></p>
            
            <table style="border-top:1px solid gray;width:300px;padding:0px;margin:0px;">
                <tr>
                    <td>&nbsp;</td>
                </tr>	
            </table>
            
            <p style="margin-top:0px;padding-top:0px;">
                Card Type: <span style="text-transform:uppercase;">#Card_Type#</span><br />
                Credit Card: ************#RIGHT(Card_Number,4)#<br />
                Amount: <strong style="color:green;">#DollarFormat(fullAmountOrg)#</strong><br />
                Date: #DateFormat(Now(),"mm/dd/yyyy")#<br />
                Time: #TimeFormat(Now(),"HH:mm tt")#<br />
                Confirmation: <strong style="color:##4a889f;">#Payment_Confirmation#</strong><br />
            </p>
            
            <p style="margin-bottom:10px;padding-bottom:0px;"><strong>#Payment_Type#s Applied</strong></p>
            
            <table style="border-top:1px solid gray;width:300px;padding:0px;margin:0px;">
                <tr>
                    <td>&nbsp;</td>
                </tr>	
            </table>
            
            <table>
                <tr>
                    <td style="width:150px;">#Payment_Type# Number</td>
                    <td>Amount</td>
                </tr>
                <cfloop from="1" to="#ArrayLen(Payment_Numbers_Array)#" index="Payment">
                    <tr>
                        <td style="padding:10px 10px 10px 0px;">#Payment_Numbers_Array[Payment]#</td>
                        <td>#DollarFormat(Payment_Amounts_Array[Payment])# USD</td>
                    </tr>
                </cfloop>
            </table>
        </cfmail>
        
        <cfset myResult = "">
		<cfreturn myResult>
    </cffunction>
    
    <cffunction name="setPayments" access="public" returntype="any">
    	<cfargument name="Payment_Cust_Numbers" type="any" required="yes">
        <cfargument name="Payment_Numbers" type="any" required="yes">
        <cfargument name="Payment_Amounts" type="any" required="yes">
        <cfargument name="Payment_Total" type="string" required="yes">
        <cfargument name="Payment_Type" type="string" required="yes">
        <cfargument name="Payment_Company" type="string" required="yes">
        <cfargument name="Card_Holder" type="string" required="yes">
        <cfargument name="Card_Number" type="string" required="yes">
        <cfargument name="Card_Zip" type="string" required="yes">
        <cfargument name="Card_Exp" type="string" required="yes">
        <cfargument name="Card_CVC" type="string" required="yes">
        <cfargument name="Card_Type" type="string" required="yes">
        
        <cfset CurrentDateTime = DateFormat(Now(),'yyyy-mm-dd') & ' ' & TimeFormat(Now(),'HH:mm:ss')>
        
        <cfswitch expression="#Payment_Company#">
        	<cfcase value="hsc">
            	<cfscript>
					Payment_Vendor = "#APPLICATION.PayPal_VENDOR#";
					Payment_User = "#APPLICATION.PayPal_USER#";
					Payment_Pass = "#APPLICATION.PayPal_PASS#";
					Payment_Company_Label = "HME";
					Payment_Email = APPLICATION.HME_Email;
				</cfscript>
            </cfcase>
        	<cfcase value="cel">
            	<cfscript>
					Payment_Vendor = "#APPLICATION.CE_PayPal_VENDOR#";
					Payment_User = "#APPLICATION.CE_PayPal_USER#";
					Payment_Pass = "#APPLICATION.CE_PayPal_PASS#";
					Payment_Company_Label = "CE Repairs";
					Payment_Email = APPLICATION.CE_Email;
				</cfscript>
            </cfcase>
            <cfcase value="jtch">
            	<cfscript>
					Payment_Vendor = "#APPLICATION.JTECH_PayPal_VENDOR#";
					Payment_User = "#APPLICATION.JTECH_PayPal_USER#";
					Payment_Pass = "#APPLICATION.JTECH_PayPal_PASS#";
					Payment_Company_Label = "JTECH";
					Payment_Email = APPLICATION.JTECH_Email;
				</cfscript>
            </cfcase>
            <cfcase value="clrc">
            	<cfscript>
					Payment_Vendor = "#APPLICATION.CC_PayPal_VENDOR#";
					Payment_User = "#APPLICATION.CC_PayPal_USER#";
					Payment_Pass = "#APPLICATION.CC_PayPal_PASS#";
					Payment_Company_Label = "Clear-Com";
					Payment_Email = APPLICATION.CC_Email;
				</cfscript>
            </cfcase>
            <cfdefaultcase>
            	<cfscript>
					Payment_Vendor = "#APPLICATION.PayPal_VENDOR#";
					Payment_User = "#APPLICATION.PayPal_USER#";
					Payment_Pass = "#APPLICATION.PayPal_PASS#";
					Payment_Company_Label = "HME";
					Payment_Email = APPLICATION.HME_Email;
				</cfscript>
            </cfdefaultcase>
        </cfswitch>
        
        <cfset Payment_Cust_Numbers_Array = deserializeJSON(Payment_Cust_Numbers)>
        <cfset Payment_Numbers_Array = deserializeJSON(Payment_Numbers)>
        <cfset Payment_Amounts_Array = deserializeJSON(Payment_Amounts)>
       
        <cfset firstName = ListFirst(FORM.Card_Holder, " ")>
		<cfset lastName = ListRest(FORM.Card_Holder, " ")>
        <cfset fullAmountOrg = ArraySum(Payment_Amounts_Array)>
        <cfset fullAmount = ArraySum(Payment_Amounts_Array)>
        
        <cfif fullAmount CONTAINS "-">
			<cfset fullAmount = Replace(fullAmount,"-","")>
            <cfset Payment_Tran_Type = "C">
        <cfelse>
			<cfset Payment_Tran_Type = "S">  
        </cfif>
        
        <!--- Get Users Email and Credit Permission --->
        <cfquery name="qry_getCreditPermission" datasource="#APPLICATION.Datasource#" maxrows="1">
        	SELECT TOP 1 perm.[CreditCard], usrs.[User_EmailAddress]
            FROM [Permission].[User_Permission] perm
            INNER JOIN [ServicePortal].[tbl_Users] usrs ON perm.User_ID = usrs.User_ID
            WHERE usrs.[User_UID] = <cfqueryparam cfsqltype="cf_sql_varchar" value="#SESSION.User_UID#">
        </cfquery>

		<cfif qry_getCreditPermission.CreditCard AND Payment_Tran_Type EQ "C" OR Payment_Tran_Type EQ "S">
		
			<!---Capture Info and Submit Payment--->
            <cfobject component="_cfcs.CallerService" name="caller">
            
            <cfscript>
                requestData = StructNew();
                requestData.METHOD = "DoDirectPayment";
                requestData.PAYMENTACTION = "Sale";
                requestData.USER = "#Payment_User#";
                requestData.VENDOR = "#Payment_Vendor#";
                requestData.PARTNER = "#APPLICATION.PayPal_PARTNER#";
                requestData.PWD = "#Payment_Pass#";
                requestData.FIRSTNAME = "#firstName#";
                requestData.LASTNAME = "#lastName#";
                requestData.STREET = "11440 Stowe Dr";
                requestData.CITY = "San Diego";
                requestData.STATE = "California";
                requestData.COUNTRYCODE = "US";
                requestData.ZIP = "92064";
                requestData.IPADDRESS="#CGI.REMOTE_ADDR#";
                requestData.SUBJECT = "";//No Subject Needed for 3 token: User, PWD, Signature
                requestData.VERSION = "#APPLICATION.PayPal_APIV#";
                requestData.CURRENCYCODE = "USD";
                requestData.SIGNATURE = "#APPLICATION.PayPal_SIGN#";
                requestData.CREDITCARDTYPE = "#FORM.Card_Type#";
                requestData.TENDER="C";
                requestData.TRXTYPE="#Payment_Tran_Type#";
                requestData.CVV2 = "#FORM.Card_CVC#";
                requestData.ACCT = "#FORM.Card_Number#";
                requestData.EXPDATE = "#FORM.Card_Exp#";
                requestData.AMT = "#fullAmount#"; 
                
                requestResult = StructNew();
            </cfscript>
            
            <!--- Calling doHttppost for API call --->
            <cfinvoke component="_cfcs.CallerService" method="doHttppost" returnvariable="response">
                <cfinvokeargument name="requestData" value="#requestData#">
                <cfinvokeargument name="serverURL" value="#APPLICATION.PayPal_URL#">
                <cfinvokeargument name="proxyName" value="#APPLICATION.PayPal_proxyName#">
                <cfinvokeargument name="proxyPort" value="#APPLICATION.PayPal_proxyPort#">
                <cfinvokeargument name="useProxy" value="#APPLICATION.PayPal_useProxy#">
            </cfinvoke>
            
            <cfset responseStruct = caller.getNVPResponse(#URLDecode(response)#)>
            
            <cfif responseStruct.RESPMSG EQ "Approved">
            
                <cfscript>
                    //Get UIDs
                    getPUID = CreateObject("component", "_cfcs.Generate_UID");
                    FORM.Payment_UID = getPUID.genUID(Length=32);
                    
                    getCUID = CreateObject("component", "_cfcs.Generate_UID");
                    FORM.Payment_Confirmation = getCUID.genUID(Length=16);
                </cfscript>
            
                <cfloop from="1" to="#ArrayLen(Payment_Numbers_Array)#" index="Payment">
                    <cfquery name="qry_insertPayment" datasource="#APPLICATION.Datasource#">
                        INSERT INTO [ServicePortal].[dtbl_User_Payments]
                        (
                            [Payment_UID],
                            [Payment_Cust_ID],
                            [Payment_Number],
                            [Payment_Type],
                            [Payment_Amount],
                            [Payment_Confirmation],
                            [Payment_IsApplied],
                            [Payment_Created_DTS],
                            [Payment_Created_By],
                            [Payment_Transaction_ID],
                            [Payment_Company]
                        )
                        VALUES
                        (
                            <cfqueryparam cfsqltype="cf_sql_varchar" value="#FORM.Payment_UID#">,
                            <cfqueryparam cfsqltype="cf_sql_varchar" value="#Payment_Cust_Numbers_Array[Payment]#">,
                            <cfqueryparam cfsqltype="cf_sql_varchar" value="#Payment_Numbers_Array[Payment]#">,
                            <cfqueryparam cfsqltype="cf_sql_varchar" value="#Payment_Type#">,
                            <cfqueryparam cfsqltype="cf_sql_varchar" value="#Payment_Amounts_Array[Payment]#">,
                            <cfqueryparam cfsqltype="cf_sql_varchar" value="#FORM.Payment_Confirmation#">,
                            <cfqueryparam cfsqltype="cf_sql_integer" value="0">,
                            <cfqueryparam cfsqltype="cf_sql_varchar" value="#CurrentDateTime#">,
                            <cfqueryparam cfsqltype="cf_sql_varchar" value="#CGI.REMOTE_ADDR#">,
                            <cfqueryparam cfsqltype="cf_sql_varchar" value="#responseStruct.PNREF#">,
                            <cfqueryparam cfsqltype="cf_sql_varchar" value="#Payment_Company#">
                        )
                    </cfquery>
                </cfloop>
                
                <!--- Send Email to Customer & HME Admins --->
                <cfmail from="no-reply@hme.com" to="#qry_getCreditPermission.User_EmailAddress#" bcc="Web_Support@hme.com,#Payment_Email#" subject="Customer Service Portal: #Payment_Company_Label# Payment Receipt" type="html">

                    <p>
                        HM Electronics, inc<br />
                        14110 Stowe Dr<br />
                        Poway, CA 92064<br />
                        8585356000<br />
                    </p>
                    
                    <p style="margin-bottom:10px;padding-bottom:0px;"><strong>Credit Card Receipt</strong></p>
                    
                    <table style="border-top:1px solid gray;width:300px;padding:0px;margin:0px;">
                        <tr>
                            <td>&nbsp;</td>
                        </tr>	
                    </table>
                    
                    <p style="margin-top:0px;padding-top:0px;">
                        Card Type: <span style="text-transform:uppercase;">#FORM.Card_Type#</span><br />
                        Credit Card: ************#RIGHT(FORM.Card_Number,4)#<br />
                        Amount: <strong style="color:green;">#DollarFormat(fullAmountOrg)#</strong><br />
                        Date: #DateFormat(Now(),"mm/dd/yyyy")#<br />
                        Time: #TimeFormat(Now(),"HH:mm tt")#<br />
                        Confirmation: <strong style="color:##4a889f;">#FORM.Payment_Confirmation#</strong><br />
                    </p>
                    
                    <p style="margin-bottom:10px;padding-bottom:0px;"><strong>#Payment_Type#s Applied</strong></p>
                    
                    <table style="border-top:1px solid gray;width:300px;padding:0px;margin:0px;">
                        <tr>
                            <td>&nbsp;</td>
                        </tr>	
                    </table>
                    
                    <table>
                        <tr>
                            <td style="width:150px;">#Payment_Type# Number</td>
                            <td>Amount</td>
                        </tr>
                        <cfloop from="1" to="#ArrayLen(Payment_Numbers_Array)#" index="Payment">
                            <tr>
                                <td style="padding:10px 10px 10px 0px;">#Payment_Numbers_Array[Payment]#</td>
                                <td>#DollarFormat(Payment_Amounts_Array[Payment])# USD</td>
                            </tr>
                        </cfloop>
                    </table>
                </cfmail>
                
                <cfscript>
                    requestResult.Payment_Confirmation = FORM.Payment_Confirmation;
                    requestResult.Payment_Message = responseStruct.RESPMSG;
                </cfscript>
            <cfelse>
                <cfscript>
                    requestResult.Payment_Confirmation = '';
                    requestResult.Payment_Message = responseStruct.RESPMSG;
                </cfscript>
            </cfif>
        <cfelse>
        	<cfscript>
				requestResult.Payment_Confirmation = '';
				requestResult.Payment_Message = "Invalid Amount. Amount may not be negative.";
			</cfscript>
        </cfif>
        
        <cfset myResult = serializeJSON(requestResult,true)>
        
		<cfreturn myResult>
	</cffunction>
</cfcomponent>
