<cfparam name="FORM.Product_Detail_UID" default="">
<cfparam name="FORM.Product_Detail_Radio" default="1">
<cfparam name="FORM.Product_Detail_Qty" default="">

<cfscript>
	CartObj = CreateObject("component", "_cfcs.CartMgmt");
	
	if(Len(FORM.Product_Detail_UID) EQ 36){
		AddCartItem = CartObj.AddCartItem(SESSION.User_CustId,FORM.Product_Detail_UID,FORM.Product_Detail_Qty);
	}
	
	CartItems = DeserializeJSON(CartObj.GetCartItems());
</cfscript>
