<cfif NOT User_IsAtLogin>
    <nav class="navbar navbar">
        <div class="container">
            <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand navbar-logo" href="#"><img src="./images/hme-companies.png" alt="HME" <!---width="80"---> height="35" /></a>
                  <a class="navbar-brand" href="#">Customer Service Portal</a>
                </div>
            </div>
        </div>
    </nav>
</cfif>
