
	<!--- Get Store Longitude & Latitude --->
	<cfset urlString1 = "https://maps.googleapis.com/maps/api/geocode/json?address=buenos aires,argentina&key=AIzaSyCWZczpKGmKo-KQMI68UvFS4dO5UaTpCXk">
	<cfhttp url="#urlString1#" charset="utf-8"></cfhttp>

	<cfset reqObject_Geolocation = DeserializeJSON(cfhttp.fileContent)>
    
	<cfset reqObject_Latitude = reqObject_Geolocation.results[1].geometry.location.lat>
	<cfset reqObject_Longitude = reqObject_Geolocation.results[1].geometry.location.lng>
   
	<cfset urlString2 = "https://maps.googleapis.com/maps/api/timezone/json?location="&#reqObject_Latitude#&","&#reqObject_Longitude#&"&timestamp=1331161200&key=AIzaSyCWZczpKGmKo-KQMI68UvFS4dO5UaTpCXk">
    <cfhttp url="#urlString2#" charset="utf-8"></cfhttp>
    
    <cfset reqObject_Timezone = DeserializeJSON(cfhttp.fileContent)>
        
    <cfdump var="#reqObject_Timezone.timeZoneId#">
    <cfdump var="#reqObject_Timezone#">

