<cfparam name="FORM.Card_Number" default="4111111111111111">
<cfparam name="FORM.Card_Exp" default="012020">
<cfparam name="FORM.Card_CVC" default="0822">
<cfparam name="FORM.Card_Holder" default="Christopher D Garwick">
<cfparam name="FORM.Card_Amount" default="10.40">
<cfparam name="FORM.Card_Zip" default="92064">


<cfscript>
	//PayPal Values
	APPLICATION.PayPal_PARTNER = "wfb";
	APPLICATION.PayPal_VENDOR = "hme174223514";
	APPLICATION.PayPal_USER = "webSite";
	APPLICATION.PayPal_PASS = "HmeWfb97531";
	APPLICATION.PayPal_SIGN = "AghJC9P7dquxmrwVUyV6BnNg6dVlAB9BBrp2PzZjVnAJUNRWrkf7kXOq";
	//APPLICATION.PayPal_URL 	= "https://payflowpro.paypal.com";
	APPLICATION.PayPal_URL 	= "https://pilot-payflowpro.paypal.com";
	//APPLICATION.PayPal_URL = "http://devcustomerservice.hme.com/pptest_conf.cfm"
	//APPLICATION.PayPal_URL 	= "https://api-3t.sandbox.paypal.com/nvp";
	APPLICATION.PayPal_CURR = "USD";
	APPLICATION.PayPal_APIV = "92.0";
	APPLICATION.PayPal_useProxy = "false";
	APPLICATION.PayPal_proxyName = "";
	APPLICATION.PayPal_proxyPort = "";
</cfscript>

<!---<cfset requestString = 
			"USER=#APPLICATION.PayPal_USER#" & 
			"&PWD=#APPLICATION.PayPal_PASS#" & 
			"&SIGNATURE=#APPLICATION.PayPal_SIGN#" & 
			"&VERSION=#APPLICATION.PayPal_APIV#" & 
			"&CURRENCYCODE=#APPLICATION.PayPal_CURR#" & 
			"&METHOD=DoDirectPayment" & 
			"&PAYMENTACTION=SALE" & 
			"&IPADDRESS=#CGI.REMOTE_ADDR#" & 
			"&CREDITCARDTYPE=VISA" & 
			"&ACCT=#FORM.Card_Number#" & 
			"&EXPDATE=#FORM.Card_Exp#" & 
			"&CVV2=#FORM.Card_CVC#" & 
			"&FIRSTNAME=Chris" & 
			"&LASTNAME=Garwick" & 
			"&AMT=#FORM.Card_Amount#">
            
<cfhttp url="#APPLICATION.PayPal_URL#?#requestString#" result="test"></cfhttp>

<cfset testurl = APPLICATION.PayPal_URL&"?"&requestString>

<cfdump var="#testurl#">
<cfdump var="#test#"><cfabort>--->

<!---Capture Info and Submit Payment--->
<cfobject component="_cfcs.CallerService" name="caller">

<cfscript>
	requestData = StructNew();
	
	requestData.METHOD = "#URLEncodedFormat('DoDirectPayment')#";
	requestData.PAYMENTACTION = "#URLEncodedFormat('Sale')#";
	//requestData.PAYMENTREQUEST_n_PAYMENTACTION = "Sale";
	
	requestData.USER = "#URLEncodedFormat(APPLICATION.PayPal_USER)#";
	requestData.VENDOR = "#URLEncodedFormat(APPLICATION.PayPal_VENDOR)#";
	requestData.PARTNER = "#URLEncodedFormat(APPLICATION.PayPal_PARTNER)#";
    requestData.PWD = "#URLEncodedFormat(APPLICATION.PayPal_PASS)#";
	
	requestData.FIRSTNAME = "#URLEncodedFormat('Chris')#";
	requestData.LASTNAME = "#URLEncodedFormat('Garwick')#";
	requestData.STREET = "#URLEncodedFormat('11440 Stowe Dr')#";
	requestData.CITY = "#URLEncodedFormat('San Diego')#";
	requestData.STATE = "#URLEncodedFormat('California')#";
	requestData.COUNTRYCODE = "#URLEncodedFormat('US')#";
	requestData.ZIP = "#URLEncodedFormat('92064')#";
	requestData.IPADDRESS="#URLEncodedFormat(CGI.REMOTE_ADDR)#";
	
	requestData.SUBJECT = "";//No Subject Needed for 3 token: User, PWD, Signature
	requestData.VERSION = "#URLEncodedFormat(APPLICATION.PayPal_APIV)#";
	requestData.CURRENCYCODE = "#URLEncodedFormat('USD')#";
	requestData.SIGNATURE = "#URLEncodedFormat(APPLICATION.PayPal_SIGN)#";
	requestData.CREDITCARDTYPE = "#URLEncodedFormat('Visa')#";
	
	requestData.TENDER="#URLEncodedFormat('C')#";
	requestData.TRXTYPE="#URLEncodedFormat('S')#";
	requestData.ACCT = "#URLEncodedFormat(FORM.Card_Number)#";
	requestData.EXPDATE = "#URLEncodedFormat(FORM.Card_Exp)#";
	requestData.AMT = "#FORM.Card_Amount#"; 
	//requestData.PAYMENTREQUEST_n_AMT = "#FORM.Card_Amount#";
</cfscript>

<cfdump var="#requestData#">

<CFHTTP URL="#APPLICATION.PayPal_URL#" METHOD="POST" charset="utf-8">
	<CFHTTPPARAM NAME="METHOD" VALUE="#requestData['METHOD']#" TYPE="FormField" ENCODED="YES">
    <CFHTTPPARAM NAME="PAYMENTACTION" VALUE="#requestData['PAYMENTACTION']#" TYPE="FormField" ENCODED="YES">
    
    <CFHTTPPARAM NAME="USER" VALUE="#requestData['USER']#" TYPE="FormField" ENCODED="YES">
    <CFHTTPPARAM NAME="VENDOR" VALUE="#requestData['VENDOR']#" TYPE="FormField" ENCODED="YES">
    <CFHTTPPARAM NAME="PARTNER" VALUE="#requestData['PARTNER']#" TYPE="FormField" ENCODED="YES">
    <CFHTTPPARAM NAME="PWD" VALUE="#requestData['PWD']#" TYPE="FormField" ENCODED="YES">
    
    <CFHTTPPARAM NAME="FIRSTNAME" VALUE="#requestData['FIRSTNAME']#" TYPE="FormField" ENCODED="YES">
    <CFHTTPPARAM NAME="LASTNAME" VALUE="#requestData['LASTNAME']#" TYPE="FormField" ENCODED="YES">
    <CFHTTPPARAM NAME="STREET" VALUE="#requestData['STREET']#" TYPE="FormField" ENCODED="YES">
    <CFHTTPPARAM NAME="CITY" VALUE="#requestData['CITY']#" TYPE="FormField" ENCODED="YES">
    <CFHTTPPARAM NAME="STATE" VALUE="#requestData['STATE']#" TYPE="FormField" ENCODED="YES">
    <CFHTTPPARAM NAME="COUNTRYCODE" VALUE="#requestData['COUNTRYCODE']#" TYPE="FormField" ENCODED="YES">
    <CFHTTPPARAM NAME="ZIP" VALUE="#requestData['ZIP']#" TYPE="FormField" ENCODED="YES">
    <CFHTTPPARAM NAME="IPADDRESS" VALUE="#requestData['IPADDRESS']#" TYPE="FormField" ENCODED="YES">
    
    <CFHTTPPARAM NAME="SUBJECT" VALUE="#requestData['SUBJECT']#" TYPE="FormField" ENCODED="YES">
    <CFHTTPPARAM NAME="VERSION" VALUE="#requestData['VERSION']#" TYPE="FormField" ENCODED="YES">
    <CFHTTPPARAM NAME="CURRENCYCODE" VALUE="#requestData['CURRENCYCODE']#" TYPE="FormField" ENCODED="YES">
    <CFHTTPPARAM NAME="SIGNATURE" VALUE="#requestData['SIGNATURE']#" TYPE="FormField" ENCODED="YES">
    <CFHTTPPARAM NAME="CREDITCARDTYPE" VALUE="#requestData['CREDITCARDTYPE']#" TYPE="FormField" ENCODED="YES">
    
    <CFHTTPPARAM NAME="TENDER" VALUE="#requestData['TENDER']#" TYPE="FormField" ENCODED="YES">
    <CFHTTPPARAM NAME="TRXTYPE" VALUE="#requestData['TRXTYPE']#" TYPE="FormField" ENCODED="YES">
    <CFHTTPPARAM NAME="ACCT" VALUE="#requestData['ACCT']#" TYPE="FormField" ENCODED="YES">
    <CFHTTPPARAM NAME="EXPDATE" VALUE="#requestData['EXPDATE']#" TYPE="FormField" ENCODED="YES">
    <CFHTTPPARAM NAME="AMT" VALUE="#requestData['AMT']#" TYPE="FormField" ENCODED="NO">
</CFHTTP>

<cfdump var="#cfhttp.FileContent#">

<!---<cfdump var="#requestData.AMT#"><cfabort>

requestData = StructNew();
	requestData.METHOD = "DoDirectPayment";
	requestData.PAYMENTACTION = "sale";
    requestData.PARTNER = "#APPLICATION.PayPal_PARTNER#";
    requestData.USER = "#APPLICATION.PayPal_USER#";
	requestData.VENDOR = "#APPLICATION.PayPal_VENDOR#";
    requestData.PWD = "#APPLICATION.PayPal_PASS#";
    requestData.SIGNATURE = "#APPLICATION.PayPal_SIGN#";
    requestData.SUBJECT = "";//No Subject Needed for 3 token: User, PWD, Signature
    requestData.VERSION = "#APPLICATION.PayPal_APIV#";
	requestData.COUNTRYCODE = "US";
    requestData.CURRENCYCODE = "USD";
	requestData.AMT = "#FORM.Card_Amount#";
	requestData.ACCT = "#FORM.Card_Number#";
    requestData.EXPDATE = "#FORM.Card_Exp#";
	requestData.CVV2 = "#FORM.Card_CVC#";
	requestData.ZIP = "#FORM.Card_Zip#";
	requestData.TENDER="C";
	requestData.TRXTYPE="S";
	requestData.FIRSTNAME = "Christopher";
	requestData.LASTNAME = "Garwick";
	requestData.STREET = "11440 stowe dr";
	requestData.CREDITCARDTYPE = "Visa";
	requestData.STATE = "CA";
	requestData.CITY = "San Diego";--->


<!--- Calling doHttppost for API call 
<cfinvoke component="_cfcs.CallerService" method="doHttppost" returnvariable="response">
    <cfinvokeargument name="requestData" value="#requestData#">
    <cfinvokeargument name="serverURL" value="#APPLICATION.PayPal_URL#">
    <cfinvokeargument name="proxyName" value="#APPLICATION.PayPal_proxyName#">
    <cfinvokeargument name="proxyPort" value="#APPLICATION.PayPal_proxyPort#">
    <cfinvokeargument name="useProxy" value="#APPLICATION.PayPal_useProxy#">
</cfinvoke>--->

<!---<cfset responseStruct = caller.getNVPResponse(#URLDecode(response)#)>

<cfdump var="#responseStruct#">
<cfdump var="#GetHttpRequestData(false)#">--->