<cfsavecontent variable="soapBody">
<cfoutput>
    <?xml version="1.0" encoding="utf-8"?>
    <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:dat="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" xmlns:arr="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:ser="http://schemas.microsoft.com/dynamics/2008/01/services" xmlns:ent="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" xmlns:ent1="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey">
    <soapenv:Header>
      <dat:CallContext>
         <!--Optional:-->
         <dat:Company>HSC</dat:Company>
         <!--Optional:-->
         <dat:Language></dat:Language>
         <!--Optional:-->
         <dat:LogonAsUser></dat:LogonAsUser>
         <!--Optional:-->
         <dat:MessageId></dat:MessageId>
         <!--Optional:-->
         <dat:PartitionKey></dat:PartitionKey>
         <!--Optional:-->
         <dat:PropertyBag>
            <!--Zero or more repetitions:-->
            <arr:KeyValueOfstringstring>
               <arr:Key></arr:Key>
               <arr:Value></arr:Value>
            </arr:KeyValueOfstringstring>
         </dat:PropertyBag>
      </dat:CallContext>
    </soapenv:Header>
    <soapenv:Body>
      <ser:SalesOrderServiceReadRequest>
         <!--Optional:-->
         <ent:EntityKeyList>
            <!--Zero or more repetitions:-->
            <ent1:EntityKey>
               <ent1:KeyData>
                  <!--1 or more repetitions:-->
                  <ent1:KeyField>
                     <ent1:Field>SalesId</ent1:Field>
                     <ent1:Value>1451828</ent1:Value>
                  </ent1:KeyField>
               </ent1:KeyData>
            </ent1:EntityKey>
         </ent:EntityKeyList>
      </ser:SalesOrderServiceReadRequest>
    </soapenv:Body>
    </soapenv:Envelope>
</cfoutput>
</cfsavecontent>

<cfhttp url="http://powaxdev.hme.com:83/MicrosoftDynamicsAXAif60/WebSalesOrder/xppservice.svc?wsdl" method="post" result="soapResponse" username="chrisg" password="Shipping5" authType="NTLM">
    <cfhttpparam type="header" name="accept-encoding" value="no-compression" />
   	<cfhttpparam type="xml" value="#trim(soapBody)#"/>
</cfhttp>

<cfdump var="#soapResponse#">


