
<cfsetting showdebugoutput="no">
<cfparam name="URL.lookup" default="">
<cfinclude template="../serverSettings.cfm">

<cfscript>	

	
	if (#FindNoCase('application/json', cgi.content_type)# > 0)
	{
    	//myData = deserializeJSON(ToString(getHTTPRequestData().content));
		//search_type = myData.searchType;
		//search_for  = myData.searchFor;
	}
	else
	{
		//phrase = URL.lookup;
		//search_type = URL.seachType;
		//search_for  = URL.searhFor;
	}
	
	//object = CreateObject("component", "#cfcs#.productReq"); 
	//returnResult = object.getCustomerFilter(lookup = "#myData.lookup#"); 
	//returnResult = object.getCustomerFilter(lookup = "#URL.lookup#"); 
	//returnResult = object.getCustomerFilter(lookup = "#phrase#"); 

	purchase_req = '';
	purchase_req = purchase_req & '{"key":"12345","status":"", "order_change":"", "line_item_change":"",';
	purchase_req = purchase_req & '"order":';
	purchase_req = purchase_req & '[{"id":"supplier_edit","value":"SHI.com\nChloe Frew\n1501 S MoPac Expressway\nSuite 400\nAustin, TX 78746\nPhone: 512-676-2315\nFax: 512-676-2315\nEmail: Chloe_Frew@shi.com", "status":"", "type":"string"},';
	purchase_req = purchase_req & '{"id":"shipping_edit","value":"SHI.com\nChloe Frew\n1501 S MoPac Expressway\nSuite 400\nAustin, TX 78746\nPhone: 512-676-2315\nFax: 512-676-2315\nEmail: Chloe_Frew@shi.com", "status":"", "type":"string"},';
	purchase_req = purchase_req & '{"id":"requestor","value":"Howard Scott", "status":"", "type":"string"},';
	purchase_req = purchase_req & '{"id":"requestor_date","value":"09/10/2016", "status":"", "type":"date"},';
	purchase_req = purchase_req & '{"id":"account_number","value":"123-5678", "status":"", "type":"string"},';
	purchase_req = purchase_req & '{"id":"dept","value":"IT", "status":"", "type":"string"},';
	purchase_req = purchase_req & '{"id":"po","value":"123-000", "status":"", "type":"string"},';
	purchase_req = purchase_req & '{"id":"buyer","value":"Kmart", "status":"", "type":"string"},';
	purchase_req = purchase_req & '{"id":"shipvia","value":"UPS", "status":"", "type":"string"},';
	purchase_req = purchase_req & '{"id":"comments","value":"No Comments", "status":"", "type":"string"}]';
	
	purchase_req = purchase_req & ',"line_items":[';
	purchase_req = purchase_req & '{"id":"", "status":"", "key":"", "line_item":[';
	purchase_req = purchase_req & '{"id":"lineItem", "value":"12", "status":"", "type":"int"},';
	purchase_req = purchase_req & '{"id":"quantity", "value":"2", "status":"", "type":"int"},';
	purchase_req = purchase_req & '{"id":"umo", "value":"12-00", "status":"", "type":"string"},';
	purchase_req = purchase_req & '{"id":"estcost", "value":"3,000.00", "status":"", "type":"decimal"},';
	purchase_req = purchase_req & '{"id":"needdate", "value":"10/01/2016", "status":"", "type":"date"},';
	purchase_req = purchase_req & '{"id":"manufacturedesc", "value":"New head phones", "status":"", "type":"string"},';
	purchase_req = purchase_req & '{"id":"purchasequantity", "value":"1", "status":"", "type":"int"},';
	purchase_req = purchase_req & '{"id":"price", "value":"3,000.00", "status":"", "type":"decimal"},';
	purchase_req = purchase_req & '{"id":"dockdate", "value":"09/21/2016", "status":"", "type":"date"}]}';

	purchase_req = purchase_req & ',{"id":"", "status":"", "key":"", "line_item":[';
	purchase_req = purchase_req & '{"id":"lineItem", "value":"55", "status":"", "type":"int"},';
	purchase_req = purchase_req & '{"id":"quantity", "value":"1", "status":"", "type":"int"},';
	purchase_req = purchase_req & '{"id":"umo", "value":"14-00", "status":"", "type":"string"},';
	purchase_req = purchase_req & '{"id":"estcost", "value":"1,000.00", "status":"", "type":"decimal"},';
	purchase_req = purchase_req & '{"id":"needdate", "value":"10/21/2016", "status":"", "type":"date"},';
	purchase_req = purchase_req & '{"id":"manufacturedesc", "value":"New speaker", "status":"", "type":"string"},';
	purchase_req = purchase_req & '{"id":"purchasequantity", "value":"1", "status":"", "type":"int"},';
	purchase_req = purchase_req & '{"id":"price", "value":"2,000.00", "status":"", "type":"decimal"},';
	purchase_req = purchase_req & '{"id":"dockdate", "value":"09/24/2016", "status":"", "type":"date"}]}';


	purchase_req = purchase_req & ']';
	purchase_req = purchase_req & '}';
	serializer = new lib.JsonSerializer();
	writeOUtput(serializer.serialize(purchase_req));

</cfscript>


    
  


