<!DOCTYPE html>
<html>
<head>
<!---<cfdocument format="PDF" filename="file.pdf" overwrite="Yes">--->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

</head>
<body>
<div>
<table>
    <tr>
        <td>
            <div>
                <div style="font-size:11px; font-weight:700;">SUPPLIER (Name, Address, Phone, email, website</div>
                <div>
                SHI.com<br>
                Chloe Frew<br>
                1501 S MoPac Expressway<br>
                Suite 400<br>
                Austin, TX 78746<br>
                Phone: 512-676-2315<br>
                Fax: 512-676-2315<br>
                Email: Chloe_Frew@shi.com<br>
                </div>
            </div>
        </td>
       <td>
            <div>
                <div style="font-size:11px; font-weight:700;">SUPPLIER (Name, Address, Phone, email, website</div>
                <div>
                SHI.com<br>
                Chloe Frew<br>
                1501 S MoPac Expressway<br>
                Suite 400<br>
                Austin, TX 78746<br>
                Phone: 512-676-2315<br>
                Fax: 512-676-2315<br>
                Email: Chloe_Frew@shi.com<br>
                </div>
            </div>
        </td>
       <td style="vertical-align:top; height:100%;">
            <table>
               <tr>
               <td>
                    <div style="width:100%;">
                        <div style="display:inline-block;" >PO#</div>
                    </div>                    
                    PO#
                </td>
                </tr>
                <tr>
               <td>
                    <div style="width:100%;">
                        <div style="display:inline-block;" >Buyer:</div>
                    </div>
                    Buyer
                </div>
                </td>
                </tr>
                <tr>
               <td>
                    <div style="width:100%;">
                        <div style="display:inline-block;">Ship Via:</div>
                    </div>
                    Ship Via
                </td>
                </tr>
                </div>
            </table>
        </td>
    </tr>
</table>


</div> 
</body>
</body>
</html>
<!---</cfdocument>
<cfheader name="Content-Disposition" value="attachment;filename=file.pdf">
<cfcontent type="application/octet-stream" file="#expandPath('.')#\file.pdf" deletefile="Yes">
--->
  


</body>
</html>