
<cfsetting showdebugoutput="no">
<cfparam name="URL.lookup" default="">
<cfinclude template="../serverSettings.cfm">

<cfscript>		
	if (#FindNoCase('application/json', cgi.content_type)# > 0)
	{
    	json = deserializeJSON(ToString(getHTTPRequestData().content));
		id = json.id;
	}
	else
	{
		id = URL.id;
	}
 	object = CreateObject("component", "_cfcs.productReq");
	returnResultLineitem = object.updatePurchaseReqLineitem(
		id = #id#,
		type = "delete",
		lineItemId = ""
	); 			 
	returnLineItemObj = DeserializeJSON(returnResultLineitem);
	serializer = new lib.JsonSerializer();
	writeOutput(serializer.serialize(returnLineItemObj));
</cfscript>



    
  


